<!DOCTYPE html>
<html>
  <head>
    <title>Robust Rapid Rails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Luckiest+Guy' %>
    <%= stylesheet_link_tag 'normalize', media: 'all' %>
    <%= stylesheet_link_tag 'style', media: 'all' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="row">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>